/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

body {
    font-family: var(--font-primary);
    background-color: var(--clr-white);
    color: var(--clr-text);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
    color: var(--clr-title);
}

strong {
    font-weight: 900;
}